{% extends CMS_TEMPLATE %}
{% load static %}{% load i18n %}

{% block title %}Careers{% endblock %}

{% block content %}

<div class="container">
    
  <div class="row">
    <div class="col-xs-12">
      <h2>Categories</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
          {% for category in category_list %}
            <a href="{% url "category" category.slug %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ category.title }}</h4>
            </a>
          {% endfor %}
        
      </div>
    </div>
  </div>
 {% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="{% url 'categories' %}?page={{ page_obj.previous_page_number }}"><span
                        aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            {% endif %}
            <li class="active disabled">
                <a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
            </li>
            {% if page_obj.has_next %}
                <li><a href="{% url 'categories' %}?page={{ page_obj.next_page_number }}"><span
                        aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

</div>

{% endblock content %}