{% extends CMS_TEMPLATE %}
{% load static %}{% load i18n %}

{% block title %}Careers{% endblock %}

{% block content %}

<div class="container">
    
  <div class="row">
    <div class="col-xs-12">
      <h2>Job Post {{ jobpost.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        <p>Category: {{ jobpost.category }}</p>
        <p>Description: {{ jobpost.description }}</p>
        <p>Created: {{ jobpost.created_on }}</p>
        <p>Location: {{ jobpost.location }}</p>
        <p>Budget: {{ jobpost.budget_from }} - {{ jobpost.budget_to }}</p>

        <input type="button" value="Apply"/>
      </div>
    </div>
  </div>

</div>

{% endblock content %}